@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px 40px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

nav div h2 {
    color: var(--Dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
}

.img {

    margin: 0 200px 45px;

}

.img img {
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
}

.banner {
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.banner h1 {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner p {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}

.btn {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;

}

.btn:hover {
    background: transparent;
    color: #FF900E;
    border: 2px solid #FF900E;
}

main {
    max-width: 1400px;
    margin: 80px auto;
}

.teams_container {
    display: flex;
    align-items: center;

}

.teams_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams_img img {
    height: 300px;
}

.teams_content {
    padding: 0 70px;
}

.teams_content h3 {
    color: var(--Dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
}

.black {
    color: var(--Dark-01, #131313);
    font-weight: 700;

}

.yellow {
    color: #FF900E;
    font-weight: 700;

}

.teams_container p {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 0;
}










/* resoponsive design */
@media screen and (max-width:576px) {
    nav {
        padding: 20px;
        flex-direction: column;
    }

    nav ul li {
        margin: 10px;
    }

    .banner {
        padding: 20px;
    }

    .img {
        margin: 10px;
    }
    .teams_img{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 30px;
    }
    .teams_container{
        flex-direction: column;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    nav {
        padding: 50px;
        flex-direction: column;
    }
    .teams_container{
        flex-direction: column;
        
    }
    .teams_img{
        margin-bottom: 30px;
    }
}